name: run_tests
on:
  workflow_call:
    inputs:
      test_part:
        description: 'Test part to run (part1, part2, part3, part4, no_parallel)'
        type: string
        required: true
jobs:
  run_tests:
    name: Run Tests (${{ inputs.test_part }})
    runs-on: ubuntu-latest
    env:
      TEST_PART: ${{ inputs.test_part }}
    steps:
      - uses: actions/checkout@v4
      - name: Cache python
        uses: actions/cache@v4
        id: cache-python
        with:
          path: ~/venv/qa
          key: python-${{ hashFiles('tests/image/requirements.txt') }}

      - name: Install python dependencies
        run: |
          set -x
          python3 -m venv ~/venv/qa
          ~/venv/qa/bin/pip3 install -U -r ./tests/image/requirements.txt
        if: |
          steps.cache-python.outputs.cache-hit != 'true'

      - name: Setup required Ubuntu packages
        run: |
          sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 8919F6BD2B48D754
          echo "deb https://packages.clickhouse.com/deb stable main" | sudo tee /etc/apt/sources.list.d/clickhouse.list
          sudo apt-get update
          sudo apt-get install -y conntrack clickhouse-client

      - uses: medyagh/setup-minikube@master
        with:
          driver: docker
          container-runtime: containerd
          kubernetes-version: v1.33.5
          cpus: max
          memory: max

      - name: Build clickhouse-operator locally without push to registry
        run: |
          minikube status
          export CHO_RELEASE=$(cat release)
          export GO_VERSION=$(grep '^go ' go.mod | awk '{print $2}')
          echo "current release=$CHO_RELEASE"
          echo "current go version=$GO_VERSION"

          docker build -f dockerfile/operator/Dockerfile         --build-arg GO_VERSION=${GO_VERSION} -t altinity/clickhouse-operator:${CHO_RELEASE} --pull .
          docker build -f dockerfile/metrics-exporter/Dockerfile --build-arg GO_VERSION=${GO_VERSION} -t altinity/metrics-exporter:${CHO_RELEASE}    --pull .

          docker image save altinity/clickhouse-operator:${CHO_RELEASE} -o operator.tar
          docker image save altinity/metrics-exporter:${CHO_RELEASE}    -o metrics-exporter.tar

          minikube image load operator.tar
          minikube image load metrics-exporter.tar

      - name: Deploy prometheus
        run: |
          cp ./deploy/prometheus/prometheus-sensitive-data.example.sh ./deploy/prometheus/prometheus-sensitive-data.sh
          NO_WAIT=1 bash ./deploy/prometheus/create-prometheus.sh

      - name: Deploy minio
        run: |
          NO_WAIT=1 bash ./deploy/minio/create-minio.sh

      - name: Deploy zookeeper-operator
        run: |
          bash ./deploy/zookeeper/zookeeper-with-zookeeper-operator/install-zookeeper-operator.sh

      - name: Run Tests
        id: run-tests
        continue-on-error: true
        run: |
          echo "Test run settings:"
          echo "  test part: ${{ inputs.test_part }}"
          echo

          source ~/venv/qa/bin/activate
          set -x
          set +e # disable the "exit on failure"

          sudo ln -snvf ~/venv/qa/bin/tfs /bin/tfs

          ~/venv/qa/bin/python3 ./tests/regression.py --test-part="${TEST_PART}" --only=/regression/e2e.test_operator/* --test-to-end --trim-results on --no-colors --native --log ./tests/raw.log --o "nice-new-fails"
          test_result=$?
          ~/venv/qa/bin/tfs --no-colors transform compact ./tests/raw.log ./tests/compact.log
          ~/venv/qa/bin/tfs --no-colors transform nice ./tests/raw.log ./tests/nice.log.txt
          ~/venv/qa/bin/tfs --no-colors transform short ./tests/raw.log ./tests/short.log.txt
          ~/venv/qa/bin/tfs --no-colors report results -a "${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}/" ./tests/raw.log - --confidential --copyright "Altinity Inc." --logo ./tests/altinity.png | ~/venv/qa/bin/tfs --debug --no-colors document convert > ./tests/report.html

          echo "test_result=$test_result" >> $GITHUB_OUTPUT
          exit "$test_result"

      - uses: actions/upload-artifact@v4
        with:
          name: testflows-logs-${{ inputs.test_part }}
          path: |
            tests/*.log
            tests/*.log.txt
          if-no-files-found: error
          retention-days: 7

      - name: Test Failed
        if: ${{ steps.run-tests.outputs.test_result != '0' }}
        uses: actions/github-script@v3
        with:
          script: |
            core.setFailed('Test suite has failures! Check test run status and logs.')
