name: run_all_tests
on:
  pull_request:
    branches:
      - '*'
  workflow_dispatch:
    inputs:
      test_part:
        description: 'Test part to run'
        type: choice
        default: 'all'
        options:
          - all
          - part1
          - part2
          - part3
          - part4
          - no_parallel
jobs:
  part1:
    if: ${{ github.event.inputs.test_part == 'all' || github.event.inputs.test_part == 'part1' || github.event_name == 'pull_request' }}
    name: Tests Part 1
    uses: ./.github/workflows/run_tests.yaml
    with:
      test_part: part1

  part2:
    if: ${{ github.event.inputs.test_part == 'all' || github.event.inputs.test_part == 'part2' || github.event_name == 'pull_request' }}
    name: Tests Part 2
    uses: ./.github/workflows/run_tests.yaml
    with:
      test_part: part2

  part3:
    if: ${{ github.event.inputs.test_part == 'all' || github.event.inputs.test_part == 'part3' || github.event_name == 'pull_request' }}
    name: Tests Part 3
    uses: ./.github/workflows/run_tests.yaml
    with:
      test_part: part3

  part4:
    if: ${{ github.event.inputs.test_part == 'all' || github.event.inputs.test_part == 'part4' || github.event_name == 'pull_request' }}
    name: Tests Part 4
    uses: ./.github/workflows/run_tests.yaml
    with:
      test_part: part4

  no_parallel:
    if: ${{ github.event.inputs.test_part == 'all' || github.event.inputs.test_part == 'no_parallel' || github.event_name == 'pull_request' }}
    name: Tests No Parallel
    uses: ./.github/workflows/run_tests.yaml
    with:
      test_part: no_parallel